@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root {
    height: 100%;
}

body {
    @apply bg-gray-900 text-gray-100;
}


/* small helpers */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
